body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    margin: 0;
}

.calculator {
    background-color: #977b3d;
    font-family: Arial, sans-serif;
    font-weight: semi-bolder;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px; 
    height: 500px; 
}

.display {
    background-color: #e0f2fe;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: right;
    font-size: 2rem; 
    margin-bottom: 1rem;
    height: 3rem; 
}

.solar-panel {
    background-color: #9ca3af;
    height: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem; 
}

.button {
    background-color: #fef3c7;
    border-radius: 0.5rem;
    padding: 15px; 
    font-size: 2rem; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    transition: background-color 0.2s; 
    height: 60px;
     
}

.button:hover {
    background-color: #fcd34d
}


